body {
    margin: 5px;
}

h1, h2 {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 3px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h1:not(:first-child) {
    border-top: 1px dotted black;
    margin-top: 1em;
    padding-top: 1em;
}

nav a {
    font-size: 10px;
}

.flex-left {
    display: flex;
}

.grid-single-column {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    margin: 5px;
}

.grid-two-column {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    margin: 5px;
}

th {
    text-align: left;
}

td, th {
    border: black solid 1px;
    padding: 5px;
}

table {
    margin: 5px;
}

fieldset {
    border: 1px solid black;
}