body {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
            ". email          ."
            ". password       ."
            ". login          ."
            ". reset-password ."
            ". register       .";
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    margin: 10px;
}
.email {
    grid-area: email;
}
.password {
    grid-area: password;
}
.login {
    grid-area: login;
}
.reset-password {
    grid-area: reset-password;
}
.register {
    grid-area: register;
}
